<div class="center jumbotrom">
    <h1>Welcome ot MyRecipea App</h1>
    
    <h2>
        This is the home page
    </h2>
    
    <%=link_to "sign up now!", "", class: "btn btn-lg btn-success" %>
</div>

<div class="row">
<div class="col-lg-4>
    <h3 class="midraw">
    view Recepies as guest user
    </h3>
    <h2 class="left">
    Brows and view rec as guest
    </h2>
    <p><%=link_to "brows rec list" , "", class: "btn btn-warning btn-small" %>
    </p>
</div>

<div class="col-lg-4>
    <h3 class="midraw">
    view Recepies as guest user
    </h3>
    <h2 class="left">
    Brows and view rec as guest
    </h2>
    <p><%=link_to "brows rec list" , "", class: "btn btn-warning btn-small" %>
    </p>
</div>

<div class="col-lg-4>
    <h3 class="midraw">
    view Recepies as guest user
    </h3>
    <h2 class="left">
    Brows and view rec as guest
    </h2>
    <p><%=link_to "brows rec list" , "", class: "btn btn-warning btn-small" %>
    </p>
</div>


</div> 